{
  "plugins": ["stylelint-react-native"],
  "rules": {
    "react-native/css-property-no-unknown": true,
    "indentation": "space",
    "number-leading-zero": null,
    "color-hex-case": ["lower", { "severity": "warning" }]
  }
}
